[submodule "third_party/SAGS"]
	path = third_party/SAGS
	url = git@github.com:Junnan-bjtu/SAGS.git
	branch = insertany3d
[submodule "third_party/gim"]
	path = third_party/gim
	url = git@github.com:Junnan-bjtu/gim.git
	branch = insertany3d
[submodule "third_party/TRELLIS"]
	path = third_party/TRELLIS
	url = git@github.com:Junnan-bjtu/TRELLIS.git
	branch = insertany3d
